@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-secondary: #10b981;
  --color-secondary-hover: #059669;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans antialiased;
}